        <div class="navbar navbar-inverse navbar-static-top" >
            <div class="container">
                <div class="navbar-header" ng-if="nb.loggedin">
                    <a href="/home" class="navbar-brand">budgetSimply.io</a>
                </div>	
                <div class="navbar-header" ng-if="!nb.loggedin">
                    <a href="/" class="navbar-brand">budgetSimply.io</a>
                </div>
                <ul class="nav navbar-nav" >
                    <li ng-if="nb.loggedin"><a href="/home"><span class="glyphicon glyphicon-list-alt"></span> Expenses</a></li>
                    <li ng-if="nb.loggedin"><a href="/charts"><span class="glyphicon glyphicon-stats"></span> Charts</a></li>
                    <li ng-if="nb.loggedin"><a href="/shared"><span class="glyphicon glyphicon-scale"></span> Shared Expenses</a></li>
                    <li ng-if="nb.loggedin"><a href="/friends"><span class="glyphicon glyphicon-user"></span> Connect</a></li>
                    <li ng-if="nb.useradmin"><a href="/users"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="nb.loggedin" class="navbar-text">
                        {{ nb.usermail}}
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-xs btn-navblk" uib-dropdown-toggle>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="nb.doTest()">Account Settings</a></li>
                                <li role="menuitem"><a ng-click="nb.doLogout()">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>