            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default whiteButton" type="button" ng-click="ps.perMinus()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button class="btn btn-default whiteButton" type="button" ng-click="ps.perPlus()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </span>
                <input type="text" class="form-control whiteButton text-center" ng-value="ps.periodLabel">
                <span class="input-group-btn">
                    <button class="btn btn-default whiteButton" type="button" ng-click="ps.perToggle()"><span class="glyphicon glyphicon glyphicon-sort"></span></button>
                </span>
            </div> 