
<navbar loggedin="{{charts.loggedin}}" usermail="{{charts.usermail}}" useradmin="{{charts.useradmin}}"></navbar>
<div class="container">
	<h1>Charts</h1>
	<br>

	<div class="row">
		<div class="col-sm-3">
			<select  class="form-control whiteButton"  ng-model="charts.radioMode" ng-change="charts.redrawPeriod()">
      			<option value="s">Defined Period</option>
      			<option value="c">Custom Period</option>
    		</select>	
		</div>	
		<div class="col-sm-4">
			<div class="input-group" ng-show="charts.radioMode != 's'">
				<span class="input-group-btn">
					<button class="btn btn-default whiteButton" type="button" ng-click="charts.perMinus()"><span class="glyphicon glyphicon-chevron-left"></span></button>
				</span>
				<input type="text" class="form-control whiteButton text-center" ng-value="charts.periodLabel">
				<span class="input-group-btn">
					<button class="btn btn-default whiteButton" type="button" ng-click="charts.perToggle()"><span class="glyphicon glyphicon glyphicon-sort"></span></button>
					<button class="btn btn-default whiteButton" type="button" ng-click="charts.perPlus()"><span class="glyphicon glyphicon-chevron-right"></span></button>
				</span>
			</div>
		</div>
		<div class="col-sm-3">
		</div>
	</div>

	<hr>

	<ul class="nav nav-tabs">
  		<li ng-repeat="tab in charts.tabs" ng-class="{active: tab === charts.activeTab}"> <a ng-click="charts.setTab(tab)">{{tab}}</a> </li>
	</ul>

	<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>period</th>
				<th>filter</th>
				<th>average</th>
				<th>amount</th>
				<th width="40"></th>
				<th width="40"></th>
			</tr>
			<tr>
				<th class="text-right" colspan="4">
					<b>
						daily average: &nbsp;&nbsp; {{charts.average}} 
					</b>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<b>
						total: &nbsp;&nbsp; {{charts.total}}
					</b>
				</th>
				<th width="40"></th>
				<th width="40"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in charts.items" ng-show="item.tab === charts.activeTab">
				<td>{{item.periodLabel}}</td>
				<td>{{item.filter}}</td>
				<td>{{item.average}}</td>
				<td>{{item.amount}}</td>
				<td><input type="checkbox" ng-model="item.active" ng-change="charts.redrawPeriod()"></td>
				<td>
					<button class="btn-xs btn-default whiteButton" ng-click="charts.deleteFilter(item._id)" type="button">
						<span class="glyphicon glyphicon-remove" uib-tooltip="remove filter"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div>
		<div google-chart chart="chartObject" style="height:400px; width:100%;"></div>
	</div>
	<br>
</div>
