<navbar loggedin="{{friends.loggedin}}" usermail="{{friends.usermail}}" useradmin="{{friends.useradmin}}"></navbar>
<div class="container">
<h1>Connect</h1> 
<br>
<infobar success="{{friends.infsuccess}}" danger="{{friends.infdanger}}"></infobar>

<div class="row">

	<div class="col-sm-3">
		<div class="row">
			<div class="col-sm-12 mgn25b">
				</div>

			<div class="col-sm-12 text-left mgn25b">
				<div class="lbDiv">
					<b>budgetSimply Newsfeed</b>
				</div>
			</div>

			<div class="col-sm-12 mgn25b">
				<div class="row">
					<div class="col-sm-7 pad0r">
      					<input type="text" class="form-control whiteButton" placeholder="search">
        			</div>
        			<div class="col-sm-5">
        				<button class="btn btn-default whiteButton" ng-click="friends.modalFriend()" type="button">Add Friends</button>
        			</div>
        		</div>
			</div>

			<div class="col-sm-12 text-left mgn25b" ng-repeat="friend in friends.me.friends">
				<div class="lbDiv">
					<b>{{friend.name}}</b>
					<div class="btn-group" uib-dropdown >
						<button type="button" class="btn btn-xs btn-default btn-navwht " uib-dropdown-toggle>
							<span class="glyphicon glyphicon-chevron-down"></span>
						</button>
						<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem"><a ng-click="friends.delete(friend.email)" >delete</a></li>
						</ul>
					</div>
					<br>
					0 shared expenses
				</div>
			</div>

		</div>
	</div>


</div>
</div>

