<div class="page-header">
	
	<h1>This is your home screen!</h1>

	<div class="row">
		<div class='col-sm-3 pad5lr'>
     	<p class="input-group">
              <input type="text" readonly class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  show-button-bar="false" show-weeks="false"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
		<div class="col-sm-4 pad5lr">
			<tags-input ng-model="tags" >
      			<auto-complete source="loadTags()"></auto-complete>
    		</tags-input>
		</div>

		<div class="col-sm-2 pad5lr">
			<input type="text" class="form-control" /> 
		</div>

		<div class="col-sm-2 pad5lr">
			<input type="text" class="form-control" /> 
		</div>

		<div class="col-sm-1 pad5lr">
			<button type="button" class="btn btn-default">Go</button> 
		</div>

	</div>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Tags</th>
				<th>Note</th>
				<th>c@c.com</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>12.01.2006</td>
				<td>food</td>
				<td>pazaruvane</td>
				<td>12</td>
			</tr>
			<tr>
				<td>14.01.2006</td>
				<td>food</td>
				<td>pazaruvane</td>
				<td>10</td>
			</tr>
			<tr>
				<td>12.01.2006</td>
				<td>bills</td>
				<td>voda</td>
				<td>20</td>
			</tr>

		</tbody>

	</table>


</div>

