<div class="page-header">
	
	<div>
 	<!-- Single button -->
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-primary whiteButton w200" uib-dropdown-toggle ng-disabled="disabled">
        {{budget}}<span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#" ng-click="toggle(0)">budget1</a></li>
        <li role="menuitem"><a href="#" ng-click="toggle(1)">budget2</a></li>
        <li role="menuitem"><a href="#" ng-click="toggle(2)">budget3</a></li>
      </ul>
    </div>


	</div>	
	<hr>
	<div class="row hidden">
		<div class='col-sm-3 pad5lr'>
     	<p class="input-group">
              <input type="text" readonly class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  show-button-bar="false" show-weeks="false"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
		<div class="col-sm-4 pad5lr">
			<tags-input ng-model="tags" >
      			<auto-complete source="loadTags()"></auto-complete>
    		</tags-input>
		</div>
		<div class="col-sm-2 pad5lr">
			<input type="text" class="form-control" /> 
		</div>
		<div class="col-sm-2 pad5lr">
			<input type="text" class="form-control" /> 
		</div>
		<div class="col-sm-1 pad5lr">
			<button type="button" class="btn btn-default">Go</button> 
		</div>
	</div>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Tags</th>
				<th>Note</th>
				<th class="text-right">c@c.com</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>12.01.2006</td>
				<td>food</td>
				<td>pazaruvane</td>
				<td class="text-right">12</td>
			</tr>
			<tr>
				<td>14.01.2006</td>
				<td>food</td>
				<td>pazaruvane</td>
				<td class="text-right">10</td>
			</tr>
			<tr>
				<td>12.01.2006</td>
				<td>bills</td>
				<td>voda</td>
				<td class="text-right">20</td>
			</tr>

		</tbody>

	</table>


</div>

