
<!-- Modal content-->
<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" ng-click="main.cancel()">&times;</button>
    <h4 class="modal-title">Add new Budget</h4>
  </div>

  <div class="modal-body">
<form>
<div class="form-group">
      <label>Budget</label>
      <input type="number" class="form-control" /> 
</div>
</form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="main.cancel()">Cancel</button>
  <button type="button" class="btn btn-default" ng-click="main.ok()">Save</button>
</div>

</div>
