
<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="main.cancel()">&times;</button>
    <h4 class="modal-title">Add new Expense</h4>
  </div>
  <div class="modal-body">
    <form>

      <div ng-show="main.danger" class="alert alert-danger">
        <a href="#" ng-click="main.cancelDanger()" class="close">&times;</a>
        {{main.danger}}
      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="form-group">
            <label>At Date</label>
            <p class="input-group">
              <input type="text" readonly class="form-control" uib-datepicker-popup="{{main.format}}" ng-model="main.dt" is-open="main.popup.opened" datepicker-options="main.dateOptions" ng-required="true" close-text="Close"  show-button-bar="false" show-weeks="false"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="main.openDt()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="form-group">
            <label>Amount</label>
            <input type="number" ng-model="main.payed" class="form-control" /> 
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Tags</label>
        <tags-input ng-model="main.tags" placeholder="...">
        <auto-complete min-length="0" debounce-delay="0" select-first-match="true" source="main.loadTags($query)"></auto-complete>
      </tags-input>
    </div>
    <div class="form-group hidden">
      <label>Note</label>
      <input type="text" ng-model="main.note" class="form-control" /> 
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-default" ng-click="main.sharePlus()"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-user"></span></button>
      </div>
    </div>
    <br>
    <div ng-repeat="item in main.shares">
      <div class="row">
       <div class="col-xs-8">
        <div class="form-group">
          <label>Select Friend</label>
          <input type="text" class="form-control" ng-model="item.user" uib-typeahead="usr for usr in main.sharedwithlist | filter:$viewValue | limitTo:8"/>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label>Amount</label>
          <input class="form-control" ng-model="item.amount" type="number"/>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="main.cancel()">Cancel</button>
  <button type="button" class="btn btn-default" ng-click="main.ok()">Save</button>
</div>
</div>
