<div class="row">
	<div class="col-lg-10">

		<h1>About</h1>

		<p>budgetSimply.io was founded in 2016. We provide a way to track your budget easily from any internet connection or any cellular phone, so that you can enter in your transactions as they happen. Our first goal was to provide a complete, easy, and customizable budgeting solution. After several e-mails of suggestions to be added to the site, BudgetTracker has grown into much more than just a Budgeting Tool. You can save your Bills, Income, Transactions, Budget, and tie all these together in a Calendar that can either send reminders to your email address or your cellular phone. The best part of our site is that all of these ideas came from you!</p>
		<br>

	</div>
</div>