<div class="row">
	<div class="col-lg-10">

		<h1>About</h1>

		<br>

		<p>budgetSimply.io was created because of the need to track and oragnise my personal and my family's finances. The idea to have a simple and yet functional tool to manage my money turned slowly into this web application. My hope it that it will be useful not only to me but to many more people.</p>

		<p>BudgetSimply.io is a minimalist, free online expenses tracker. It will help you find out where your money is going, and the best way to keep more of it in your pocket. It's simple and fast to use interface will encourage you to keep trackin every expense and thereby get a detailed database of your spendings with time</p>

		<p>We're a small enthusiast team located in Sofia, Bulgaria</p>

		<p>For now you can reach us via netbits.io@gmail.com</p>

		<br>
		<br>

	</div>
</div>